// Sourcing local version
#include "/opt/projects/gemc/glibrary/settings.xcconfig"

// installation destination of libraries and binaries
CONFIGURATION_BUILD_DIR = $MYBUILDDIR

// includes
HEADER_SEARCH_PATHS = $GLIB_HEADS $CLHEP_HEADS $GEANT4_HEADS

OTHER_LDFLAGS = -all_load -ObjC ${CLHEP_LIB} \
                                ${GEANT4_LIBS}/libG4particles.dylib \
                                ${GEANT4_LIBS}/libG4event.dylib  \
                                ${GEANT4_LIBS}/libG4graphics_reps.dylib \
                                ${GEANT4_LIBS}/libG4materials.dylib
