// Sourcing local version
#include "/opt/projects/gemc/glibrary/settings.xcconfig"

// installation destination of libraries and binaries
CONFIGURATION_BUILD_DIR = $MYBUILDDIR

// includes
HEADER_SEARCH_PATHS = $GLIB_HEADS $GEANT4_HEADS $CLHEP_HEADS $ROOT_HEADS

OTHER_LDFLAGS = -all_load -ObjC ${ROOT_LIBS}/libCore.so ${ROOT_LIBS}/libRIO.so ${ROOT_LIBS}/libTree.so
