// Sourcing local version
#include "/opt/projects/gemc/glibrary/settings.xcconfig"

// installation destination of libraries and binaries
CONFIGURATION_BUILD_DIR = $MYBUILDDIR

// includes and framework search paths
HEADER_SEARCH_PATHS    = $GLIB_HEADS $QT_HEADS
FRAMEWORK_SEARCH_PATHS = $QTFRAMES

OTHER_LDFLAGS = -all_load -ObjC ${QTFRAMES}/QtCore.framework/QtCore \
                                ${QTFRAMES}/QtGui.framework/QtGui \
										  ${QTFRAMES}/QtWidgets.framework/QtWidgets
