// Sourcing local version
#include "/opt/projects/gemc/glibrary/settings.xcconfig"

// installation destination of libraries and binaries
CONFIGURATION_BUILD_DIR = $MYBUILDDIR

// includes
HEADER_SEARCH_PATHS    = $GLIB_HEADS $QT_HEADS $GEANT4_HEADS $CLHEP_HEADS
FRAMEWORK_SEARCH_PATHS = $QTFRAMES


OTHER_LDFLAGS = -all_load -ObjC ${CLHEP_LIB} \
                                ${QTFRAMES}/QtCore.framework/QtCore \
                                ${QTFRAMES}/QtGui.framework/QtGui \
                                ${QTFRAMES}/QtWidgets.framework/QtWidgets \
                                ${GEANT4_LIBS}/libG4FR.dylib \
                                ${GEANT4_LIBS}/libG4GMocren.dylib \
                                ${GEANT4_LIBS}/libG4OpenGL.dylib \
                                ${GEANT4_LIBS}/libG4RayTracer.dylib \
                                ${GEANT4_LIBS}/libG4Tree.dylib \
                                ${GEANT4_LIBS}/libG4VRML.dylib \
                                ${GEANT4_LIBS}/libG4analysis.dylib \
                                ${GEANT4_LIBS}/libG4digits_hits.dylib \
                                ${GEANT4_LIBS}/libG4error_propagation.dylib \
                                ${GEANT4_LIBS}/libG4event.dylib \
                                ${GEANT4_LIBS}/libG4geometry.dylib \
                                ${GEANT4_LIBS}/libG4gl2ps.dylib \
                                ${GEANT4_LIBS}/libG4global.dylib \
                                ${GEANT4_LIBS}/libG4graphics_reps.dylib \
                                ${GEANT4_LIBS}/libG4intercoms.dylib \
                                ${GEANT4_LIBS}/libG4interfaces.dylib \
                                ${GEANT4_LIBS}/libG4materials.dylib \
                                ${GEANT4_LIBS}/libG4modeling.dylib \
                                ${GEANT4_LIBS}/libG4parmodels.dylib \
                                ${GEANT4_LIBS}/libG4particles.dylib \
                                ${GEANT4_LIBS}/libG4persistency.dylib \
                                ${GEANT4_LIBS}/libG4physicslists.dylib \
                                ${GEANT4_LIBS}/libG4processes.dylib \
                                ${GEANT4_LIBS}/libG4ptl.0.0.2.dylib \
                                ${GEANT4_LIBS}/libG4ptl.0.dylib \
                                ${GEANT4_LIBS}/libG4ptl.dylib \
                                ${GEANT4_LIBS}/libG4readout.dylib \
                                ${GEANT4_LIBS}/libG4run.dylib \
                                ${GEANT4_LIBS}/libG4tasking.dylib \
                                ${GEANT4_LIBS}/libG4tools.dylib \
                                ${GEANT4_LIBS}/libG4track.dylib \
                                ${GEANT4_LIBS}/libG4tracking.dylib \
                                ${GEANT4_LIBS}/libG4visHepRep.dylib \
                                ${GEANT4_LIBS}/libG4visQt3D.dylib \
                                ${GEANT4_LIBS}/libG4vis_management.dylib \
                                ${GEANT4_LIBS}/libG4zlib.dylib \


LD_RUNPATH_SEARCH_PATHS = ${CLHEP_ROOT}/lib ${GEANT4_LIBS}

 
