name: Sanitize
permissions:
  contents: read
  packages: write

# default varsions. This is overwritten by distros_tags.sh
env:
  GEMC_TAG: dev           # default gemc tag
  GEANT4_TAG: 11.4.0      # default geant4 tag

concurrency:
  group: gemc-images-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ main ]   # publish on main updates
    tags: [ 'v*' ]       # also publish on version tags
  pull_request:          # PRs: build only (no push)


jobs:
  discover:
    name: Create Job Matrices
    runs-on: ubuntu-latest
    outputs:
      matrix_sanitize: ${{ steps.scan.outputs.matrix_sanitize }}
      image: ${{ steps.scan.outputs.image }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - id: scan
        name: Build matrix
        run: ci/distros_tags.sh

  build-with-sanitizer:
    name: ${{ matrix.image }}:${{ matrix.image_tag }} ${{ matrix.image_tag }}
    needs: [ discover ]
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.discover.outputs.matrix_sanitize) }}
    runs-on: ${{ matrix.runner }}
    container: ${{ matrix.container }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build ${{ matrix.sanitize }}
        run: |
          ./ci/build.sh ${{ matrix.sanitizer }}

  build_with_sanitizert-final:
    needs:
      - build-with-sanitizer
    runs-on: ubuntu-latest
    steps:
      - name: fail
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'skipped') }}
        run: |
          echo "### Some tests failed." >> $GITHUB_STEP_SUMMARY
          exit 1
      - name: pass
        run: |
          echo "### All tests passed." >> $GITHUB_STEP_SUMMARY
          exit 0
